TZ=US/Denver
PIHOLE_DNS_=10.0.0.2#5335;fd00:dead:beee::2#5335
FTLCONF_REPLY_ADDR4=DOCKER_HOST_IPv4
FTLCONF_REPLY_ADDR6=DOCKER_HOST_IPv6 # Only for IPv6 configurations
IPv6=true  # Set false if you do not have IPv6
